### Extract information from Linkedin.com using selenium

In [1]:
#Importing libraries
import pandas as pd
import selenium
import re
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import time

In [2]:
#Assigning the webdrive to the url
browser=webdriver.Chrome(r"C:\Users\DA\Desktop\selenium\chromedriver.exe")
browser.get('https://www.linkedin.com')

In [3]:
#Entering my account on linkedin
time.sleep(3)
username=browser.find_element_by_id("session_key")
username.send_keys('abdallahkhaledellawah@gmail.com')
password=browser.find_element_by_id('session_password')
password.send_keys('620620620')# i had to hide the password since i am uploading the project on my github profile
password.send_keys(Keys.RETURN)

In [4]:
browser.get('https://www.linkedin.com/jobs/')
time.sleep(3)
# find the keywords/location search bars:
search_bars = browser.find_elements_by_class_name('jobs-search-box__text-input')
search_keywords = search_bars[0]
search_keywords.send_keys('Data analyst')

search_location = search_bars[3]
search_location.send_keys('Dubai, United Arab Emirates')
search_location.send_keys(Keys.RETURN)

In [5]:
# get a list of all the listings elements's in the side bar
list_items = browser.find_elements_by_class_name("occludable-update")
lists=[]
# scrolls a single page:
for job in list_items:
    browser.execute_script("arguments[0].scrollIntoView();", job)
    job.click()
    lists.append(job.text.split('\n')[:3])

In [6]:
lists

[['Data Scientist', 'MBC GROUP', 'Dubai, United Arab Emirates'],
 ["CRM Data Analyst - L'Occitane",
  'Chalhoub Group',
  'Dubai, Dubai, United Arab Emirates'],
 ['Data Analyst - Supply Chain',
  'Chalhoub Group',
  'Dubai, Dubai, United Arab Emirates'],
 ['Sr. Data Analyst', 'talabat', 'Business Bay, Dubai, United Arab Emirates'],
 ['Data Analyst- Customer Experience Group | Bangkok-based',
  'Agoda',
  'Dubai, Dubai, United Arab Emirates'],
 ['Associate Data Analyst',
  'talabat',
  'Business Bay, Dubai, United Arab Emirates'],
 ['Data Analyst - Dubai', 'De La Rue', 'Dubai, Dubai, United Arab Emirates'],
 ['Associate Data Analyst',
  'talabat',
  'Business Bay, Dubai, United Arab Emirates'],
 ['Data Analyst (Medical Insurance)',
  'Intelligent Solutions HR',
  'Dubai, United Arab Emirates'],
 ['Data Analyst and Communication Specialist',
  'Archcorp Architectural Engineering',
  'Dubai, United Arab Emirates'],
 ['Data Analyst, Procurement',
  'Atlantis Resorts',
  'Dubai, Dubai, United Arab Emirates'],
 ['Data Analyst - Commercial',
  'Chalhoub Group',
  'Dubai, Dubai, United Arab Emirates'],
 ['MIS / DATA Analyst', 'Gulf Marketing Group', 'Dubai, United Arab Emirates'],
 ['Data Analyst', 'Atlantis Resorts', 'Dubai, United Arab Emirates'],
 ['Analyst Customer Experience',
  'talabat',
  'Business Bay, Dubai, United Arab Emirates'],
 ['Data Analyst', 'Kitopi', 'Dubai, Dubai, United Arab Emirates'],
 ['Data Analyst', 'The RIG Recruitment', 'Dubai, United Arab Emirates'],
 ['Staff Data Scientist I', 'Careem', 'Dubai, Dubai, United Arab Emirates'],
 ['Data Scientist', 'Chalhoub Group', 'Dubai, United Arab Emirates'],
 ['Data Scientist', 'Agility', 'Dubai, United Arab Emirates'],
 ['Data Scientist/ ML Engineer',
  'APCO Worldwide',
  'Dubai, Dubai, United Arab Emirates'],
 ['Data Analyst', 'ARC Talent', 'Dubai, United Arab Emirates'],
 ['Data Engineer', 'Nakheel', 'Dubai, United Arab Emirates'],
 ['Data Analyst and Statistician',
  'GfK',
  'Dubai, Dubai, United Arab Emirates'],
 ['Web Analyst', 'Chalhoub Group', 'Dubai, United Arab Emirates']]

In [7]:
#puttin info into seperate lists
Job_title=([ele[0] for ele in lists])
Company=([ele[1] for ele in lists])
location=([ele[2:] for ele in lists])

In [8]:
Job_title

['Data Scientist',
 "CRM Data Analyst - L'Occitane",
 'Data Analyst - Supply Chain',
 'Sr. Data Analyst',
 'Data Analyst- Customer Experience Group | Bangkok-based',
 'Associate Data Analyst',
 'Data Analyst - Dubai',
 'Associate Data Analyst',
 'Data Analyst (Medical Insurance)',
 'Data Analyst and Communication Specialist',
 'Data Analyst, Procurement',
 'Data Analyst - Commercial',
 'MIS / DATA Analyst',
 'Data Analyst',
 'Analyst Customer Experience',
 'Data Analyst',
 'Data Analyst',
 'Staff Data Scientist I',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist/ ML Engineer',
 'Data Analyst',
 'Data Engineer',
 'Data Analyst and Statistician',
 'Web Analyst']

In [9]:
Company

['MBC GROUP',
 'Chalhoub Group',
 'Chalhoub Group',
 'talabat',
 'Agoda',
 'talabat',
 'De La Rue',
 'talabat',
 'Intelligent Solutions HR',
 'Archcorp Architectural Engineering',
 'Atlantis Resorts',
 'Chalhoub Group',
 'Gulf Marketing Group',
 'Atlantis Resorts',
 'talabat',
 'Kitopi',
 'The RIG Recruitment',
 'Careem',
 'Chalhoub Group',
 'Agility',
 'APCO Worldwide',
 'ARC Talent',
 'Nakheel',
 'GfK',
 'Chalhoub Group']

In [10]:
location

[['Dubai, United Arab Emirates'],
 ['Dubai, Dubai, United Arab Emirates'],
 ['Dubai, Dubai, United Arab Emirates'],
 ['Business Bay, Dubai, United Arab Emirates'],
 ['Dubai, Dubai, United Arab Emirates'],
 ['Business Bay, Dubai, United Arab Emirates'],
 ['Dubai, Dubai, United Arab Emirates'],
 ['Business Bay, Dubai, United Arab Emirates'],
 ['Dubai, United Arab Emirates'],
 ['Dubai, United Arab Emirates'],
 ['Dubai, Dubai, United Arab Emirates'],
 ['Dubai, Dubai, United Arab Emirates'],
 ['Dubai, United Arab Emirates'],
 ['Dubai, United Arab Emirates'],
 ['Business Bay, Dubai, United Arab Emirates'],
 ['Dubai, Dubai, United Arab Emirates'],
 ['Dubai, United Arab Emirates'],
 ['Dubai, Dubai, United Arab Emirates'],
 ['Dubai, United Arab Emirates'],
 ['Dubai, United Arab Emirates'],
 ['Dubai, Dubai, United Arab Emirates'],
 ['Dubai, United Arab Emirates'],
 ['Dubai, United Arab Emirates'],
 ['Dubai, Dubai, United Arab Emirates'],
 ['Dubai, United Arab Emirates']]

In [11]:
#put our info in a dictionary
dict = {'Job_title': Job_title, 'Company': Company, 'location': location }

In [12]:
#Convert the dictionary into a dataframe
df = pd.DataFrame(dict)

In [13]:
#checking results
df

,Job_title,Company,location
0,Data Scientist,MBC GROUP,"[Dubai, United Arab Emirates]"
1,CRM Data Analyst - L'Occitane,Chalhoub Group,"[Dubai, Dubai, United Arab Emirates]"
2,Data Analyst - Supply Chain,Chalhoub Group,"[Dubai, Dubai, United Arab Emirates]"
3,Sr. Data Analyst,talabat,"[Business Bay, Dubai, United Arab Emirates]"
4,Data Analyst- Customer Experience Group | Bang...,Agoda,"[Dubai, Dubai, United Arab Emirates]"
5,Associate Data Analyst,talabat,"[Business Bay, Dubai, United Arab Emirates]"
6,Data Analyst - Dubai,De La Rue,"[Dubai, Dubai, United Arab Emirates]"
7,Associate Data Analyst,talabat,"[Business Bay, Dubai, United Arab Emirates]"
8,Data Analyst (Medical Insurance),Intelligent Solutions HR,"[Dubai, United Arab Emirates]"
9,Data Analyst and Communication Specialist,Archcorp Architectural Engineering,"[Dubai, United Arab Emirates]"
10,"Data Analyst, Procurement",Atlantis Resorts,"[Dubai, Dubai, United Arab Emirates]"
11,Data Analyst - Commercial,Chalhoub Group,"[Dubai, Dubai, United Arab Emirates]"
12,MIS / DATA Analyst,Gulf Marketing Group,"[Dubai, United Arab Emirates]"
13,Data Analyst,Atlantis Resorts,"[Dubai, United Arab Emirates]"
14,Analyst Customer Experience,talabat,"[Business Bay, Dubai, United Arab Emirates]"
15,Data Analyst,Kitopi,"[Dubai, Dubai, United Arab Emirates]"
16,Data Analyst,The RIG Recruitment,"[Dubai, United Arab Emirates]"
17,Staff Data Scientist I,Careem,"[Dubai, Dubai, United Arab Emirates]"
18,Data Scientist,Chalhoub Group,"[Dubai, United Arab Emirates]"
19,Data Scientist,Agility,"[Dubai, United Arab Emirates]"
20,Data Scientist/ ML Engineer,APCO Worldwide,"[Dubai, Dubai, United Arab Emirates]"
21,Data Analyst,ARC Talent,"[Dubai, United Arab Emirates]"
22,Data Engineer,Nakheel,"[Dubai, United Arab Emirates]"
23,Data Analyst and Statistician,GfK,"[Dubai, Dubai, United Arab Emirates]"
24,Web Analyst,Chalhoub Group,"[Dubai, United Arab Emirates]"

In [14]:
#exporting data into an excel file
df.to_csv('linkedin jobs.csv',index=False)